// Height
.h-1 { height: $s-1 }
.h-2 { height: $s-2 }
.h-3 { height: $s-3 }
.h-4 { height: $s-4 }
.h-5 { height: $s-5 }
.h-6 { height: $s-6 }
.h-7 { height: $s-7 }
.h-8 { height: $s-8 }
.h-9 { height: $s-9 }
.h-10 { height: $s-10 }
.h-100 { height: 100px }
.h-200 { height: 200px }

.h-full { height: 100% }
.min-h-vh { min-height: 100vh }

// Width
.w-1 { width: $s-1 }
.w-2 { width: $s-2 }
.w-3 { width: $s-3 }
.w-4 { width: $s-4 }
.w-5 { width: $s-5 }
.w-6 { width: $s-6 }
.w-7 { width: $s-7 }
.w-8 { width: $s-8 }
.w-9 { width: $s-9 }
.w-10 { width: $s-10 }
.w-100 { width: 100px }
.w-200 { width: 200px }

.w-full { width: 100% }
.max-w-full { max-width: 100% }
.min-w-180 { min-width: 180px }

// Page Content Width
.page-content-width {
	width: clamp(300px, 90%, 1200px);
}
