/* Reset default margin and padding */
body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd, dt, div, header, table, th, td {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}